@import "variables.scss";

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  max-width: 95vw;
}

.category {
  width: 90%;
  height: max-content;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.category img {
  max-width: 100%;
  max-height: 100%;
}

.category:hover {
  cursor: pointer;
}

.category-title {
  font-family: "R6S-Italic", sans-serif;
  font-size: 25px;
}
.category:nth-child(1):hover {
  box-shadow: 0 0 10px 1px $jaune;
}

.category:nth-child(2):hover {
  box-shadow: 0 0 10px 1px $attacker;
}

.category:nth-child(3):hover {
  box-shadow: 0 0 10px 1px $defender;
}
