.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 95vw;
}

.category {
  width: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.category img {
  max-width: 100%;
  max-height: 100%;
}

.category:hover {
  cursor: pointer;
}

.category-title {
  font-family: "R6S-Italic", sans-serif;
  font-size: 25px;
}

.category:nth-child(1):hover {
  -webkit-box-shadow: 0 0 10px 1px #f9e223;
          box-shadow: 0 0 10px 1px #f9e223;
}

.category:nth-child(2):hover {
  -webkit-box-shadow: 0 0 10px 1px #d9610f;
          box-shadow: 0 0 10px 1px #d9610f;
}

.category:nth-child(3):hover {
  -webkit-box-shadow: 0 0 10px 1px #0e88c9;
          box-shadow: 0 0 10px 1px #0e88c9;
}
/*# sourceMappingURL=home.css.map */