.intro {
  width: 70vw;
}

.intro-container {
  display: flex;
  flex-direction: column;
}
.profile {
  border-radius: 50%;
}

.section-title {
  text-transform: uppercase;
  font-family: "R6S-Italic", "sans-serif";
}
.flex-row {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
}

ul {
  margin: 0;
  list-style: none;
  padding-inline: 0;
}

.vocabulary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
