@import "variables.scss";
@import "fonts.scss";

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  color: $blanc;
  font-family: "Roboto", sans-serif;
  padding: 0px 0px 125px 0px;
  font-size: 18px;
  background-color: rgba(1, 1, 1, 0.5);
}

.background {
  background-image: url(R6-newUI.webp);
  background-color: $noir;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

a {
  color: $jaune !important;
  font-weight: bold !important;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-family: "R6S-Bold", sans-serif;
  text-shadow: 1px 2px #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
  width: 100vw;
  text-shadow: 1px 2px #000000;
}

.footer span {
  max-width: max-content;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  #footer {
    flex-direction: column;
  }
  #footer {
    align-items: center;
    padding: 0px 0px 50px 0px;
  }
}
